h1 {
  background-color: black;
  color: white;
  margin: auto;
  text-align: center;
  width: 40%;
  padding: 50px;
  border-radius: 20px;
}

.nav-center {
  display: flex;
  justify-content: space-around;
  background-color: gray;
  padding: 35px;
  margin: 0px 0px 5px;
  color: white;
  font-family: Haettenschweiler, "Arial Narrow Bold", sans-serif;
  border-bottom: 2px solid aqua;
}

.nav-links {
  display: flex;
}

.nav-links li {
  list-style: none;
  margin: auto 10px;
}

.container {
  display: flex; 
  flex-direction: column;
}

.container h1 {
  margin: 250px auto 10px;

}
button {
  margin: 50px auto;
}
